.container {
  cursor: pointer;
  background-position: center;
}

.image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  vertical-align: bottom;
}

.caption {
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  z-index: 5;
  color: white;
}
