.container {
}

.snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.assetContainer {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.asset {

}

.landscape {
  width: 60vw;
}

.portrait {
  width: 40vw;
}

.asset img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom left;
  position: absolute;
  bottom: 0;
}

.indicator {
  position: fixed;
  top: var(--mainHeaderHeight);
  z-index: 200;
  width: 100%;
}

.reference {
  display: flex;
  justify-content: space-between;
  margin-left: var(--outerMargin);
  margin-right: var(--outerMargin);
}

.indicator {order: 1}
.assets {order: 2}

@media screen and (min-width: 670px) {

  .indicator {
    order: 2;
    text-align: right;

  }
  .assets {order: 1}
}
