.grid {
  display: grid;
  gap: var(--outerMargin);
  grid-template-columns: 1fr;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.assets {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin-left: var(--outerMargin);
  margin-right: var(--outerMargin);
  margin-bottom: var(--outerMargin);
}

.asset {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 100%;
}

.asset img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom left;
}

.indicator {

}

.reference {
  margin-left: var(--outerMargin);
  margin-right: var(--outerMargin);
  margin-bottom: var(--outerMargin);
}

.reference {order: 1}
.assets {order: 2}

@media screen and (min-width: 670px) {
  .grid {
    grid-template-columns: 1fr 12rem;
    bottom: 0;
  }

  .reference {
    order: 2;
    text-align: right;

  }
  .assets {order: 1}
}
