.introduction {
  min-height: 50vh;
  padding-top: 0;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

.asset {
  height: 100%;
  scroll-snap-align: start;
}
