@import "normalize.css";

:root {
  font-size: 110%;
}

@font-face {
  font-family: 'Bradford LL';
  src: url('/assets/bradford/BradfordLL-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bradford LL';
  src: url('/assets/bradford/BradfordLL-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@media only screen and (min-width: 670px) {
  :root {
    font-size: 100%;
  }

  .sm {
    display: none;
  }
}

@media only screen and (max-width: 669px) {
  .md {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bradford LL', Times, serif;
  line-height: 1.375em;
}

p:empty {display: none;}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

.hyphens {
     -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 3;
     -webkit-hyphenate-limit-after: 3;
     -webkit-hyphenate-limit-chars: 6 3 3;
     -webkit-hyphenate-limit-lines: 2;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 6 3 3;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 6 3 3;
     hyphenate-limit-lines: 2;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;
 }

 .no-hyphens {
   hyphens: none;
 }

 .list-style-none {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .list-style-none p {
   margin: 0;
 }

 .sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.soft-breaks {
  white-space: pre-line;
}

.alert {
  text-align: center;
  border-bottom: 1px solid black;
  padding: .25rem;
}

.biography article:last-of-type {
  border-top: 1px solid black;
  margin-top: 3rem;
  padding-top: 2rem;
}


 @import "grids.css";
 @import "header.css";
 @import "headlines.css";
 @import "assets.css";
 @import "articles.css";
