:root {
  --outerMargin: 1rem;
  --totalMaxWidth: 2280px;
  --mainHeaderHeight: 11rem;
}

.block {
  padding: var(--outerMargin);
  max-width: var(--totalMaxWidth);
  margin: 0 auto;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  grid-auto-flow: column;
}

.col-1-2 {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 670px) {
  .col-1-2 {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
