:root {
  --outerMargin: 1rem;
  --totalMaxWidth: 1720px;
  --mainHeaderHeight: 9rem;
}

.block {
  padding: var(--outerMargin);
  max-width: var(--totalMaxWidth);
  margin: 0 auto;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  grid-auto-flow: column;
}
