header .mb-title {
  position: absolute;
}

header nav {
  text-align: right;
}

header nav div {
  margin-bottom: 1rem;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

header a {
  color: inherit;
}

header nav .active {
  text-align: left;
}
