header.main {
  position: relative;
  padding-top: .8rem;
}

header.main.fixed {
  position: fixed;
  width: calc(100% - 1.5rem);
}

header.main.inline {
  margin-bottom: var(--outerMargin);
}

header.main .mb-title {
  position: absolute;
}

header.main nav {
  text-align: right;
}

header.main nav div {
  margin-bottom: 1rem;
}

header.main nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

header.main a {
  color: inherit;
  text-decoration: none;
}

header.main nav .active {
  text-align: left;
}
